.CurrentWeatherInfo ul {
  list-style-type: none;
}

.CurrentWeatherInfo .currentTemp {
  font-size: 45px;
}

.CurrentWeatherInfo h1 {
  font-size: 35px;
  font-weight: bold;
}

.CurrentWeatherInfo .currentSummary {
  font-size: 18px;
}
