.Search h1 {
  font-size: 40px;
  margin: 15px;
}
.Search h2 {
  font-size: 20px;
  text-align: left;
  margin: 1vw 0vw 1vw 5vw;
}

.Search .gridContainer {
  margin: 0 auto;
  padding: 5px;
  width: 100%;
}

.Search .searchGrid {
  display: grid;
  grid-template-columns: auto 50px;
  column-gap: 3px;
  margin: 0 auto;
}

.Search .searchGrid div {
  align-items: center;
  display: flex;
}
.Search .searchBox {
  border: 1px solid var(--black);
  border-radius: 30px;
  box-shadow: 1px 1px 3px var(--black);
  display: inline-flex;
  justify-content: space-between;
  justify-self: right;
  margin: 3px;
  width: 100%;
}

.Search .searchButton {
  background-color: transparent;
  border: transparent;
  padding: 5px 10px;
  margin: 0px 3px;
  font-size: 16px;
}

.Search .searchButton:hover {
  background-color: transparent;
  border: transparent;
  filter: drop-shadow(2px 2px 2px var(--black));
  cursor: pointer;
  padding: 5px 10px;
  margin: 0px 3px;
  font-size: 16px;
}
.Search .searchField {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  margin: 5px 0px;
  padding: 10px 10px 10px 25px;
  width: 100%;
}
